html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

header {
  text-align: center;
  font-size: 50px;
}

.content {
  width: 100vw;
  background-color: rgb(250, 239, 221);
}

.content-top {
  color: #9fb7c4;
  background-color: rgb(74, 138, 167);
  font-family: "Roboto Slab";
  font-weight: 300;
  font-size: 20px;
  height: 50px;
  text-align: center;
  display: grid;
  align-content: center;
}

.integralWrap {
  background: white;
  width: 300px;
  height: 150px;

  border-radius: 5px;
  border: 1px solid rgb(74, 138, 167);
  position: relative;
}

.integralSign {
  font-family: "Times New Roman";
  font-size: 70px;
  position: absolute;
  top: 25px;
  left: 40px;
}

.upperBound {
  position: absolute;
  left: 50px;
  top: 10px;
  font-size: 20px;
}

.lowerBound {
  position: absolute;
  left: 38px;
  top: 105px;
  font-size: 20px;
}

.integral {
  position: absolute;
  left: 100px;
  top: 40px;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.upperIntegral {
  grid-column: 1 / span 3;
}

.divideSign {
  width: 100px;
  height: 2px;
  border: 1px solid black;
  position: absolute;
  top: 68px;
  left: 95px;
}

.dx {
  position: absolute;
  left: 200px;
  top: 52px;
  font-size: 20px;
}

.integralContainer {
  display: grid;
  grid-template-columns: auto auto 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 20px 20px 0px 20px;
  align-items: center;
}

.integralContainer img {
  height: 150px;
}

.myButtons {
  color: rgb(0, 58, 77);
  display: grid;
  min-width: 200px;
}

.integralsContainer {
  margin-top: 30px;
  display: grid;
  grid-gap: 40px;
  overflow: auto;
}
